<a href="https://colab.research.google.com/github/tusharrkharkar/pythoncode/blob/main/web_scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import requests
from bs4 import BeautifulSoup
import csv
import pandas as pd

# Number of pages to scrape
num_pages = 2

# Define the CSV file path
csv_file_path = 'timesjobs_data_science_jobs.csv'

# Open the CSV file in write mode
with open(csv_file_path, 'w', newline='') as csvfile:
    csv_writer = csv.writer(csvfile)

    # Write the header row
    csv_writer.writerow(['Job Title', 'Company', 'Location', 'Experience', 'Salary', 'Description', 'Key Skills'])

    # Loop through the pages
    for page in range(1, num_pages + 1):
        url = f"https://www.timesjobs.com/candidate/job-search.html?searchType=personalizedSearch&from=submit&txtKeywords=data+science&txtLocation=&pageNum={page}"
        headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) AppleWebKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
        response = requests.get(url, headers=headers).text

        soup = BeautifulSoup(response, 'html.parser')
        jobs = soup.find_all('li',class_= "clearfix job-bx wht-shd-bx")

        for item in jobs:
            # job title
            job_title = item.find('h2').text.strip()
            # company name
            company_name = item.find('h3',class_='joblist-comp-name').text.strip()
            company_name = company_name.replace('(More Jobs)', '').strip()
            # experience
            experience = item.find('li').text.strip()[11:]
            # salary
            li_tags = item.find('ul', class_='top-jd-dtl clearfix').find_all('li')
            if len(li_tags) == 2:
                salary = None
            else:
                salary = item.find('ul', class_='top-jd-dtl clearfix').find_all('li')[1].text.strip()
            # location
            if len(li_tags) == 2:
                location = item.find('ul', class_='top-jd-dtl clearfix').find_all('li')[1].text.strip()
            else:
                location = item.find('ul', class_='top-jd-dtl clearfix').find_all('li')[2].text.strip()
            location = location.replace('location_on\n','').strip()
            # job description
            job_description = item.find('ul',class_='list-job-dtl clearfix').find_all('li')[0].text.strip()
            job_description = job_description.replace('Job Description:\r\n','').strip()
            csv_writer.writerow([job_title, company_name, location, experience, salary, job_description,''])

# Load the CSV file into a DataFrame
data = pd.read_csv('timesjobs_data_science_jobs.csv')

# Print the DataFrame
print(data)

                               Job Title  \
0      Data Science Internship in Mumbai
1   Data Science Internship in Ahmedabad
2                           Data Science
3                           Data Science
4                           Data Science
5                           Data Science
6                           Data Science
7                           Data Science
8                           Data Science
9                           Data Science
10                         data science.
11  Data Science Internship in Ahmedabad
12       Data Science Internship in Pune
13  Data Science Internship in Ahmedabad
14  Data Science Internship in Ahmedabad
15     Data Science Internship in Mumbai
16     Data Science Internship in Mumbai
17     Data Science Internship in Mumbai
18  Data Science Internship in Ahmedabad
19                Data Science Engineers
20     Data Science Internship in Mumbai
21       Data Science Internship in Pune
22     Data Science Internship at Mumbai
23       Data Science Internship in Pune
24       Offline trainer -  Data Science
25     Data Science Internship in Mumbai
26  Data Science Internship in Ahmedabad
27                          Data Science
28                          Data Science
29                          Data Science
30                          Data Science
31                          Data Science
32                          Data Science
33                          Data Science
34                          Data Science
35                         data science.
36  Data Science Internship in Ahmedabad
37       Data Science Internship in Pune
38  Data Science Internship in Ahmedabad
39  Data Science Internship in Ahmedabad
40     Data Science Internship in Mumbai
41     Data Science Internship in Mumbai
42     Data Science Internship in Mumbai
43  Data Science Internship in Ahmedabad
44                Data Science Engineers
45     Data Science Internship in Mumbai
46       Data Science Internship in Pune
47     Data Science Internship at Mumbai
48       Data Science Internship in Pune
49       Offline trainer -  Data Science

                                     Company  \
0                        Maxgen Technologies
1                        Maxgen Technologies
2                        HyreFox Consultants
3              tcg digital solutions pvt ltd
4                      Gainwell Technologies
5                      innefu labs pvt. ltd.
6                             bprise pvt ltd
7                       INSPIRATION MANPOWER
8            Nihilent Technologies Pvt. Ltd.
9                       INSPIRATION MANPOWER
10                             Randstad MENA
11                       Maxgen Technologies
12                       Maxgen Technologies
13                       Maxgen Technologies
14                       Maxgen Technologies
15                       Maxgen Technologies
16                       Maxgen Technologies
17                       Maxgen Technologies
18                       Maxgen Technologies
19  Electrobrain modern technologies pvt ltd
20                       Maxgen Technologies
21                       Maxgen Technologies
22                       Maxgen Technologies
23                       Maxgen Technologies
24                     NARESH I TECHNOLOGIES
25                       Maxgen Technologies
26                       Maxgen Technologies
27                       HyreFox Consultants
28             tcg digital solutions pvt ltd
29                     Gainwell Technologies
30                     innefu labs pvt. ltd.
31                            bprise pvt ltd
32                      INSPIRATION MANPOWER
33           Nihilent Technologies Pvt. Ltd.
34                      INSPIRATION MANPOWER
35                             Randstad MENA
36                       Maxgen Technologies
37                       Maxgen Technologies
38                       Maxgen Technologies
39                       Maxgen Technologies
40                       Maxgen Technologies
41                       Maxgen Technologies
42                       Maxgen Technologies
43                       Maxgen Technologies
44  Electrobrain modern technologies pvt ltd
45                       Maxgen Technologies
46                       Maxgen Technologies
47                       Maxgen Technologies
48                       Maxgen Technologies
49                     NARESH I TECHNOLOGIES

                                             Location  Experience  \
0       Mumbai,  Kalyan,  Nasik,  Navi Mumbai,  Thane   0 - 1 yrs
1   Ahmedabad,  Mehsana,  Rajkot,  Surat,  Surendr...   0 - 1 yrs
2                                             Chennai   5 - 8 yrs
3                                             Kolkata   3 - 5 yrs
4                     Chennai,  Bengaluru / Bangalore   1 - 2 yrs
5                                   Delhi,  Delhi/NCR   4 - 6 yrs
6                                              Mumbai   3 - 6 yrs
7                               Bengaluru / Bangalore   4 - 8 yrs
8                                      Pune,  Kolkata   3 - 7 yrs
9                               Bengaluru / Bangalore  4 - 10 yrs
10                                            Gurgaon   6 - 9 yrs
11  Ahmedabad,  Mehsana,  Rajkot,  Surat,  Surendr...   0 - 1 yrs
12     Pune,  Amravati,  Aurangabad,  Sangli,  Satara   0 - 1 yrs
13  Ahmedabad,  Mehsana,  Rajkot,  Surat,  Surendr...   0 - 1 yrs
14  Ahmedabad,  Mehsana,  Rajkot,  Surat,  Surendr...   0 - 1 yrs
15      Mumbai,  Kalyan,  Nasik,  Navi Mumbai,  Thane   0 - 1 yrs
16      Mumbai,  Kalyan,  Nasik,  Navi Mumbai,  Thane   0 - 1 yrs
17      Mumbai,  Kalyan,  Nasik,  Navi Mumbai,  Thane   0 - 1 yrs
18  Ahmedabad,  Mehsana,  Rajkot,  Surat,  Surendr...   0 - 1 yrs
19  Gurgaon,  Hyderabad/Secunderabad,  Kolkata,  M...  5 - 10 yrs
20      Mumbai,  Kalyan,  Nasik,  Navi Mumbai,  Thane   0 - 1 yrs
21     Pune,  Amravati,  Aurangabad,  Sangli,  Satara   0 - 1 yrs
22  Mumbai,  Dombivali,  Kalyan,  Navi Mumbai,  Thane   0 - 1 yrs
23     Pune,  Amravati,  Aurangabad,  Sangli,  Satara   0 - 1 yrs
24                             Hyderabad/Secunderabad  5 - 10 yrs
25      Mumbai,  Kalyan,  Nasik,  Navi Mumbai,  Thane   0 - 1 yrs
26  Ahmedabad,  Mehsana,  Rajkot,  Surat,  Surendr...   0 - 1 yrs
27                                            Chennai   5 - 8 yrs
28                                            Kolkata   3 - 5 yrs
29                    Chennai,  Bengaluru / Bangalore   1 - 2 yrs
30                                  Delhi,  Delhi/NCR   4 - 6 yrs
31                                             Mumbai   3 - 6 yrs
32                              Bengaluru / Bangalore   4 - 8 yrs
33                                     Pune,  Kolkata   3 - 7 yrs
34                              Bengaluru / Bangalore  4 - 10 yrs
35                                            Gurgaon   6 - 9 yrs
36  Ahmedabad,  Mehsana,  Rajkot,  Surat,  Surendr...   0 - 1 yrs
37     Pune,  Amravati,  Aurangabad,  Sangli,  Satara   0 - 1 yrs
38  Ahmedabad,  Mehsana,  Rajkot,  Surat,  Surendr...   0 - 1 yrs
39  Ahmedabad,  Mehsana,  Rajkot,  Surat,  Surendr...   0 - 1 yrs
40      Mumbai,  Kalyan,  Nasik,  Navi Mumbai,  Thane   0 - 1 yrs
41      Mumbai,  Kalyan,  Nasik,  Navi Mumbai,  Thane   0 - 1 yrs
42      Mumbai,  Kalyan,  Nasik,  Navi Mumbai,  Thane   0 - 1 yrs
43  Ahmedabad,  Mehsana,  Rajkot,  Surat,  Surendr...   0 - 1 yrs
44  Gurgaon,  Hyderabad/Secunderabad,  Kolkata,  M...  5 - 10 yrs
45      Mumbai,  Kalyan,  Nasik,  Navi Mumbai,  Thane   0 - 1 yrs
46     Pune,  Amravati,  Aurangabad,  Sangli,  Satara   0 - 1 yrs
47  Mumbai,  Dombivali,  Kalyan,  Navi Mumbai,  Thane   0 - 1 yrs
48     Pune,  Amravati,  Aurangabad,  Sangli,  Satara   0 - 1 yrs
49                             Hyderabad/Secunderabad  5 - 10 yrs

                        Salary  \
0                          NaN
1                          NaN
2                          NaN
3                          NaN
4                          NaN
5                          NaN
6                          NaN
7                          NaN
8                          NaN
9                          NaN
10                         NaN
11                         NaN
12   ₹Rs 1.00 - 2.00 Lacs p.a.
13                         NaN
14                         NaN
15                         NaN
16                         NaN
17                         NaN
18                         NaN
19   ₹Rs 3.25 - 6.65 Lacs p.a.
20                         NaN
21   ₹Rs 1.00 - 2.00 Lacs p.a.
22   ₹Rs 1.00 - 3.00 Lacs p.a.
23   ₹Rs 1.00 - 2.00 Lacs p.a.
24  ₹Rs 5.00 - 10.00 Lacs p.a.
25                         NaN
26                         NaN
27                         NaN
28                         NaN
29                         NaN
30                         NaN
31                         NaN
32                         NaN
33                         NaN
34                         NaN
35                         NaN
36                         NaN
37   ₹Rs 1.00 - 2.00 Lacs p.a.
38                         NaN
39                         NaN
40                         NaN
41                         NaN
42                         NaN
43                         NaN
44   ₹Rs 3.25 - 6.65 Lacs p.a.
45                         NaN
46   ₹Rs 1.00 - 2.00 Lacs p.a.
47   ₹Rs 1.00 - 3.00 Lacs p.a.
48   ₹Rs 1.00 - 2.00 Lacs p.a.
49  ₹Rs 5.00 - 10.00 Lacs p.a.

                                          Description  Key Skills
0   Maxgen Technologies is an it company based in ...         NaN
1   Maxgen Technologies Pvt Ltd is an it company b...         NaN
2   Must have experience in any programming langua...         NaN
3   Education Masters / Bachelors degree in Comput...         NaN
4   Data ScienceDate: Aug 19 ,  2023Location: Chen...         NaN
5   Location : DelhiDescriptions :4-6 YearsUsing m...         NaN
6   Develop and plan required analytic projects in...         NaN
7   Job RequirementMust Have skills: Python ,  Und...         NaN
8   Data ScienceDesignation: Data ScienceLocation:...         NaN
9   Job Requirement Programming languages Python ,...         NaN
10  job detailssummarygurgaon ,  haryanaa client o...         NaN
11  Maxgen Technologies Pvt Ltd is an it company b...         NaN
12  Maxgen Technologies pvt ltd offers live projec...         NaN
13  Maxgen technologies is an it company based in ...         NaN
14  Maxgen Technologies Pvt Ltd is an it company b...         NaN
15  Maxgen technologies is an it company based in ...         NaN
16  Maxgen technologies is an it company based in ...         NaN
17  Maxgen technologies is an it company based in ...         NaN
18  Maxgen Technologies Pvt ltd offering live proj...         NaN
19  Build ,  design and implement a highly scalabl...         NaN
20  Maxgen technologies is an it company based in ...         NaN
21  Maxgen Technologies pvt ltd offers live projec...         NaN
22  Maxgen technologies pvt ltd is located in navi...         NaN
23  Maxgen technologies Pvt ltd offering data scie...         NaN
24  We are looking for Full Stack Data ScienceTrai...         NaN
25  Maxgen Technologies is an it company based in ...         NaN
26  Maxgen Technologies Pvt Ltd is an it company b...         NaN
27  Must have experience in any programming langua...         NaN
28  Education Masters / Bachelors degree in Comput...         NaN
29  Data ScienceDate: Aug 19 ,  2023Location: Chen...         NaN
30  Location : DelhiDescriptions :4-6 YearsUsing m...         NaN
31  Develop and plan required analytic projects in...         NaN
32  Job RequirementMust Have skills: Python ,  Und...         NaN
33  Data ScienceDesignation: Data ScienceLocation:...         NaN
34  Job Requirement Programming languages Python ,...         NaN
35  job detailssummarygurgaon ,  haryanaa client o...         NaN
36  Maxgen Technologies Pvt Ltd is an it company b...         NaN
37  Maxgen Technologies pvt ltd offers live projec...         NaN
38  Maxgen technologies is an it company based in ...         NaN
39  Maxgen Technologies Pvt Ltd is an it company b...         NaN
40  Maxgen technologies is an it company based in ...         NaN
41  Maxgen technologies is an it company based in ...         NaN
42  Maxgen technologies is an it company based in ...         NaN
43  Maxgen Technologies Pvt ltd offering live proj...         NaN
44  Build ,  design and implement a highly scalabl...         NaN
45  Maxgen technologies is an it company based in ...         NaN
46  Maxgen Technologies pvt ltd offers live projec...         NaN
47  Maxgen technologies pvt ltd is located in navi...         NaN
48  Maxgen technologies Pvt ltd offering data scie...         NaN
49  We are looking for Full Stack Data ScienceTrai...         NaN

In [3]:
data.head()

,Job Title,Company,Location,Experience,Salary,Description,Key Skills
0,Data Science Internship in Mumbai,Maxgen Technologies,"Mumbai, Kalyan, Nasik, Navi Mumbai, Thane",0 - 1 yrs,NaN,Maxgen Technologies is an it company based in ...,NaN
1,Data Science Internship in Ahmedabad,Maxgen Technologies,"Ahmedabad, Mehsana, Rajkot, Surat, Surendr...",0 - 1 yrs,NaN,Maxgen Technologies Pvt Ltd is an it company b...,NaN
2,Data Science,HyreFox Consultants,Chennai,5 - 8 yrs,NaN,Must have experience in any programming langua...,NaN
3,Data Science,tcg digital solutions pvt ltd,Kolkata,3 - 5 yrs,NaN,Education Masters / Bachelors degree in Comput...,NaN
4,Data Science,Gainwell Technologies,"Chennai, Bengaluru / Bangalore",1 - 2 yrs,NaN,"Data ScienceDate: Aug 19 , 2023Location: Chen...",NaN